@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  font-family: "Electrolize", sans-serif;
}
body {
  height: 100%;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
  background: linear-gradient(white, rgba(0, 0, 0, 0.719));
}
.desc {
  padding-top: 100px;
  padding-left: 200px;
  border: 2px solid black;
  width: 50%;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 20px;
}

.img-scope {
  display: flex;
  justify-content: center;
}
.img-desc {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .desc {
    padding: 0;
    border: none;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .img-scope {
    width: 250px;
    height: 250px;
  }
}
